<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Charevo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" type="image/x-icon" href="../beauty.ico.png" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../css/charevo.css" rel="stylesheet" type="text/css">
        <link href='styles.css?version=2' rel='stylesheet'>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src = "../js/characters/fourize.js"></script>


        <link href="../css/custom.css" rel="stylesheet" type="text/css">

        <style>
            #charactertable tr:nth-child(even){background-color: yellow}
            #charactertable tr{
                background-color:#e6e6e6;
            }
            #charactertable td{
                vertical-align: top;
                padding: 10px;
            }


        </style>



    </head>

    <body ng-app="Demo">

        <div id="maindiv">



            <!-- <form ng-app="sui.select" ng-submit="vm.goToPage()" id="theForm" name = "theForm" style="position: absolute; left: 5px; top: 3px; z-index: 2;">
                   <div  ng-controller="DemoCtrl as vm">
               <div >
                   <div ng-keyup="$event.keyCode === 13 && vm.goToPage()">
                       <div sui-select indicating-text="select a page" on-select="vm.onSelect(model)" options="vm.countryOptions" model="vm.selected" label="Country: " searchable="true" disabled=""></div>
                       <span>
                       <button type="button" class="btn" style ="z-index: 2" ng-click="vm.goToPage()" >
                           <img id = "searchIcon" src="images/search.png" alt="Search Placeholder" style="z-index: 2; width:20px;height:20px;">
                       </button> 
                       <input type="submit" style="display: none"/>
                   </span> 
                   </div>
                   
               </div>
       
                      
           </div>
        
               </form> -->

            <nav>
                <ul id = "menudiv" class = "ulmenu1" >
                    <li class = "limenu1" > <a id = "home" class = "li-a-menu1" href="../index.html"><b>Home</b></a></li>
                    <li id = "test" class = "li-a-menu1-selected"> <a id = "about" class = "menu-selected" href="#about"><b>About</b></a>
                        <ul id = "testmenu" class = "sub-menu" >
                            <li class = "liabout"> <a id = "characters" class = "liabout-a" href="../characters.html"><b>Characters</b></a></li>
                            <li class = "liabout"> <a id = "gene" class = "liabout-a" href="../charevogene.html"><b>Charevo Gene</b></a></li>
                            <li class = "liabout"> <a id = "author" class = "liabout-a" href="author.html"><b>The Author</b></a></li>
                            <!-- <li class = "liabout"> <a id = "cities" class = "liabout-a" href="cities.html"><b>Cities</b></a></li> -->
                        </ul>
                    </li>
                    <li id= "test2" class = "limenu1"> <a id = "quiz" class = "li-a-menu1" href="#quiz"><b>Quiz</b></a>
                        <ul id="testmenu2" class = "sub-menu" >
                            <li class = "liabout"> <a id = "beautyquizzes" class = "liabout-a" href="../beautyquizzes.html"><b>Beauty Quizzes</b></a></li>

                        </ul>
                    </li>

                    <li id= "test3" class = "limenu1"> <a id = "stories" class = "li-a-menu1" href="#stories"><b>Stories</b></a>
                        <ul id= "testmenu3" class = "sub-menu" >
                            <li class = "liabout"> <a id = "beautystories" class = "liabout-a" href="../beautystories.html"><b>Beauty Short Stories</b></a></li>

                        </ul>
                    </li>
                    <!-- <li class = "limenu1"> <a id = "switch" class = "li-a-menu1" href="switchcharacter.html"><b>Switch Character</b></a>
     
                     </li> -->
                    <li id= "test4" class = "limenu1"> <a id = "miscellaneous" class = "li-a-menu1" href="#Miscellaneous"><b>Miscellaneous</b></a>
                        <ul id= "testmenu4" class = "sub-menu">
                            <li class = "liabout"> <a id = "switchcharacter" class = "liabout-a" href="../switchcharacter.html"><b>Switch Character</b></a></li>
                            <li class = "liabout"> <a id = "blog" class = "liabout-a" href="../blog.html"><b>Blog</b></a></li>
                        </ul>
                    </li>

                </ul>


            </nav>

            <div id="formdiv">
                <form id="theForm" name = "theForm" ng-submit="goToPage()" ng-controller="DemoController" style="position: absolute; left: 5px; top: 3px; z-index: 1;">

                    <div custom-select="p.id as p.name for p in pages | filter: { name: $searchTerm } track by p.id" ng-model="page" ng-keyup="$event.keyCode === 13 && goToPage()"></div>
                    <span>
                        <button type="button" class="btn" style ="z-index: 2" ng-click="goToPage()">
                            <img id = "searchIcon" src="../images/search.png" alt="Search Placeholder" style="z-index: 2; width:20px;height:20px;">
                        </button> 
                        <input type="submit" style="display: none"/>
                    </span>
                </form>
            </div>
            <!--    <div style="width: 100%; position: absolute; top: 43px;">
                   <img id = "test" src="images/pexels-photo.jpeg" alt="Beauty Placeholder" style="width:100%;height:200px;"> 
               </div>
            --> 
        </div>


        <section style = "width: 100vw; margin-top: 50px; padding-bottom: 100px;  height: 2300px; position: relative;">
            <div id="main-wrapper" class="page-wrap">
                <div style = "">
                    <h1 class="heading" style = "margin-bottom: 10%;">Fourize</h1>
                    <div style="margin-top: 30px;"></div>
                    <img id="character" src = "../images/fourizeleft1.png" alt = "Fourize PlaceHolder" width = 300 height = 400 style = "position: absolute; top: 100px; left: 480px;">
                    <img id="emblem" src = "../images/Emblems/fourizeemblem.png" alt = "Fourize Emblem PlaceHolder" width = 250 height = 250 style = "position: absolute; top: 130px; left: 120px;">

                    <div id="fairies" style = "position: absolute; top: 150px; right: 60px; ">
                        <img id = "behaviorimage" class="charevofairy" src = "../images/Fairies/fourizeinferiorityfairy.png" alt = "Fourize Inferiority PlaceHolder" width = 250 height = 250 >
                        <img id = "mentalityimage" class="charevofairy" src = "../images/Fairies/fourizeenvyfairy.png" alt = "Fourize Envy PlaceHolder" width = 250 height = 250 >
                        <img id = "identificationimage" class="charevofairy" src = "../images/Fairies/fourizevisionfairy.png" alt = "Fourize Vision PlaceHolder" width = 250 height = 250 >
                    </div>

                    <div id="guidance" style = " margin-top: 330px; margin-bottom: 20px; width: 600px; ">
                        <h3>Charevo Fairy Guidance</h3>
                        <div style = "background-color: #a6e1ec; padding: 15px;">
                            <p id = "Behavior" style = "">Inferiority: </p>
                            <p id = "Mentality">Envy: </p>
                            <p id = "Identification">Vision: </p>
                        </div>
                    </div>

                    <div style = "margin-bottom: 20px;">
                        <table id="charactertable" style = "">
                            <tr>
                                <th>Name: </th>
                                <td>Fourize</td>
                            </tr>
                            <tr>
                                <th>Real Name: </th>
                                <td>Ira Koolein</td>
                            </tr>
                            <tr>
                                <th>Behavior Element: </th>
                                <td>Inferiority</td>
                            </tr>
                            <tr>
                                <th>Mentality Element: </th>
                                <td>Envy</td>
                            </tr>
                            <tr>
                                <th>Identification Element: </th>
                                <td>Vision</td>
                            </tr>
                            <tr style = "">
                                <th style = "vertical-align: top; padding-top: 5px;">Powers and Abilities: </th>
                                <td >

                                    <ul style = "list-style-type: square; padding: 0px;">
                                        <li>Shoots beams of heat from his eyes</li>
                                        <li>When wearing his glasses, shoots ice beams from his eyes</li>


                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th style = "vertical-align: top; padding-top: 5px;">Weaknesses: </th>
                                <td>
                                    <ul style = "list-style-type: square; padding: 0px;">
                                        <li>Having his eyes closed</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="bio" style = "position: relative; ">


                        <h3>Bio:</h3>



                        <div class = "characterinfo" style = "left: -10px;">

                            <p style = "margin-left: 50px; margin-right: 50px;">
                                When he was a boy growing up in Minor City, Fourize was friends with both Cyhack and Race. Fourize was always the somewhat nerdy kid who would wear a tie to school and was a straight A student who was part of the chess club along with Race. Being smart and dressing different made him a target for bullies and found a friend in Race who was tormented for his slow speed constantly. He was also friends with Cyhack who was also bullied for being smart, but showed him how to get back at bullies by setting up anonymous Internet accounts and posting mean messages to them, which was a way of breaking their spirits.
                                Fourize was forced by bullies to do their homework, getting beaten up receiving many black eyes and injuries to his eyes, and receiving much harassment for the fact that he was related to some of the teachers.
                                <br><br>
                                He later discovered his powers one day when he was studying with Cyhack. He played around with his powers by shooting heat beams on old pieces of firewood outside and Cyhack told him she had something she was working on, which were thick pieces of glass that she got to convert heat into cold on the other side of the glass. Fourize tried his heat vision on it and it turned into an ice beam as it passed through it. Cyhack then used the same process on Fourize’s glasses that she used on the glass, which gave him his heat to ice converting glasses.
                                One day after school, he confronted some bullies, saying he won’t be doing their homework. He then attacked them with his powers, and decided his powers could let him prove to everyone that he is not someone who can be pushed around, and became a super villain. He knew of the other criminals with power in the city and realized his power wasn't enough and wanted more. With this goal, he set out to form a group to lead.
                                <br><br>
                                While he has minimal power, he has a keen talent of reading people to manipulate them, which he applied when recruiting his team. He first went to Cyhack, saying she could freely use her technology to cause trouble for whoever she wants and gain plenty for herself while showing people how good a girl can be with technology, and even prove she's the smartest girl there is. The arrogant Cyhack was intrigued and agreed. 
                                He met Dinomight next, who was a new kid from another school who joined the football team. Dinomight was happy using his bulky strength to dominate the football team of everyone he played against. Fourize took note of his pleasure in hurting others and offered him a place on his team as a super villain. Dinomight was unsure at first, as he's not a jerk all the time, but was eager when Fourize said he could destroy things.
                                Fourize then found Ninja, who was the quiet kid in his school that he noticed always played tricks when no one was looking, and did it frequently with his stealth, agility, and teleportation power. When Fourize told Ninja he could surprise more people as a villain, he agreed and joined.
                                He finally went to Tammy Time, who he knew as the class clown of his school. He saw her fool with a few kids after school by using her cloning powers to create clones of herself to mess with people. Fourize said he liked her methods of fooling with others, which got Tammy pleased to meet someone who welcomed her antics. Fourize said she could help him use her powers to create her antics for more than just a school where she will have others to create mischief with her and benefit her greatly, which got Tammy on board. His four friends didn't share the same goals as him for evil in the beginning and aren't always as bad as they look, but after talking to him, they became the J Gang.
                                <br><br>
                                Fourize had even more power he could indirectly control by being the leader of a team. However, despite having access to this power of others, he still holds a bit of jealousy of how everyone else had much better powers than him. So while he would often take joy in causing trouble with his team, he holds resentment against them because of their far superior abilities. His arch enemy is his old friend Race. While Race thinks using your powers for good is a way to earn respect from people who mocked you, Fourize thought a better way is to force respect from them. As part of the Gang, Fourize acts as the confident, manipulative, scheming, though somewhat impatient and insecure leader of the group.
                            </p>

                        </div>





                    </div>
                </div>
            </div>

            <!-- <a class="twitter-timeline" data-width="420" data-height="400" href="https://twitter.com/TwitterDev">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->


            <footer id = "footer" class = "site-footer">
                <div class = "footercontent">
                    <table class="footerlist">
                        <tr>
                            <th><a id="subhome" href="../index.html"><b>Home</b></a></th>

                        </tr>
                    </table>
                    <table class="footerlist">
                        <tr>
                            <th><a id="subabout" href="#About"><b>About</b></a></th>
                        </tr>
                        <tr>
                            <td><a id="subcharacters" href="../characters.html">Characters</a></td>
                        </tr>
                        <tr>
                            <td><a id="subcharevogene" href="../charevogene.html">Charevo Gene</a></td>
                        </tr>
                        <tr>
                            <td><a id="subauthor" href="../author.html">The Author</a></td>
                        </tr>
                    </table>
                    <table class="footerlist">
                        <tr>
                            <th><a id="subquiz" href="#Quiz"><b>Quiz</b></a></th>
                        </tr>
                        <tr>
                            <td><a id="subbeautyquizzes" href="../beautyquizzes.html">Beauty Quizzes</a></td>
                        </tr>
                    </table>
                    <table class="footerlist">
                        <tr>
                            <th><a id="substories" href="#Stories"><b>Stories</b></a></th>
                        </tr>
                        <tr>
                            <td><a id="subbeautystories" href="../beautystories.html">Beauty Short Stories</a></td>
                        </tr>
                    </table>
                    <table class="footerlist">
                        <tr>
                            <th><a id="submiscellaneous" href="#Miscellaneous"><b>Miscellaneous</b></a></th>
                        </tr>
                        <tr>
                            <td><a id="subswitchcharacter" href="../switchcharacter.html">Switch Character</a></td>
                        </tr>
                        <tr>
                            <td><a id="subblog" href="../blog.html">Blog</a></td>
                        </tr>
                    </table>

                    <!--<ul class="footerlist">
                        <li >
                            <a href="index.html"><b>Home</b></a>
                        </li>
                        <li >
                            <a href="#About"><b>About</b></a>
                            <ul class="subfooterlist">
                                <li><a href="characters.html">Characters</a></li>
                                <li><a href="charevogene.html">Charevo Gene</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#Quiz"><b>Quiz</b></a>
                            <ul class="subfooterlist">
                                <li><a href="beautyquizzes.html">Beauty Quizzes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#Stories"><b>Stories</b></a>
                            <ul class="subfooterlist">
                                <li><a href="beautystories.html">Beauty Short Stories</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#Miscellaneous"><b>Miscellaneous</b></a>
                            <ul class="subfooterlist">
                                <li><a href="switchcharacter.html">Switch Character</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </li>
                    </ul> -->
                </div>
                <div class = "footercontent2">
                    <p style="text-align: center; padding: 10px; opacity: .7; font-size: 13px;">Copyright © 2017 Stephen Egert. All Rights Reserved.</p>
                    <div style="position: absolute; left: 47%;">
                        <!-- <a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=localhost:8080/Charevo/index.html&digit=style/plain/6/&reloads=1" alt="" title="" border="0"></a><br /><a href="http://" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;"></a> -->
                    </div>
                </div>
            </footer>

        </section>




        <div class = "footers">
            <button id = "prev" class = "prevbutton" style = "opacity: .4; " disabled="disabled"  onclick = "prev();">
                << Prev
            </button>

            <p id = "d" class = "pfooter"></p>

            <button id = "next" class = "nextbutton" onclick = "next();">
                Next >>
            </button>


        </div>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="../js/select_page.js" type="text/javascript"></script>
        <script src="../js/search_list.js" type="text/javascript"></script>


        <script src="../js/menu.js"></script>

    </body>
</html>
